{{yield}}
<form action="#" class="new-survey__form">
  <ul class="new-survey__list">
    <li class="new-survey__list-item">
      <p class="question question_one">Are you a Boy/Girl/Undecided? </p>
      {{input type="text" name="questionOne" id="question-one" placeholder="Answer" value=questionOne}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_two">Where's your favorite place / brand to buy clothes?</p>
      {{input type="text" name="questionTwo" id="question-two" placeholder="Answer" value=questionTwo}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_three">Do you collect anything? If so, what is it?</p>
      {{input type="text" name="questionThree" id="question-three" placeholder="Answer" value=questionThree}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_four">Do you have any food allergies? If so, what are they?</p>
      {{input type="text" name="questionFour" id="question-four" placeholder="Answer" value=questionFour}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_five">What is something you can't live without? </p>
      {{input type="text" name="questionFive" id="question-five" placeholder="Answer" value=questionFive}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_six">What's one thing you always seem to be running out of?</p>
      {{input type="text" name="questionSix" id="question-six" placeholder="Answer" value=questionSix}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_seven">You love the smell of _____ but can't stand the smell of _____:   </p>
      {{input type="text" name="questionSeven" id="question-seven" placeholder="Answer" value=questionSeven}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_eight">Do you have a favorite hobby? What is it? </p>
      {{input type="text" name="questionSeven" id="question-seven" placeholder="Answer" value=questionEight}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_nine">If you have a favorite sports team, who are they?</p>
      {{input type="text" name="questionNine" id="question-nine" placeholder="Answer" value=questionNine}}
    </li>
    <li class="new-survey__list-item">
      <p class="question question_ten">Bonus: What was the worst Christmas gift you can think of?</p>
      {{input type="text" name="questionTen" id="question-ten" placeholder="Answer" value=questionTen}}
    </li>
  </ul>

  <button>Submit</button>

</form>
